@font-face {
  font-family:'Graphik';
  src: url(../fonts/Graphik-Bold-Cy-Gr-Web.eot?#iefix) format("embedded-opentype"), url(../fonts/Graphik-Bold-Cy-Gr-Web.woff) format("woff");
  src: url(../fonts/Graphik-Bold-Cy-Gr.otf);
  font-weight:600;
  font-style:normal;
  font-stretch:normal;
}
@font-face {
  font-family:'Graphik';
  src: url(../fonts/Graphik-Medium-Cy-Gr-Web.eot?#iefix) format("embedded-opentype"), url(../fonts/Graphik-Medium-Cy-Gr-Web.woff) format("woff");
  src: url(../fonts/Graphik-Medium-Cy-Gr.otf);
  font-weight:500;
  font-style:normal;
  font-stretch:normal;
}
@font-face {
  font-family:'Graphik';
  src: url(../fonts/Graphik-Regular-Cy-Gr-Web.eot?#iefix) format("embedded-opentype"), url(../fonts/Graphik-Regular-Cy-Gr-Web.woff) format("woff");
  src: url(../fonts/Graphik-Regular-Cy-Gr.otf);
  font-weight:400;
  font-style:normal;
  font-stretch:normal;
}
