.link-to-switcher{
  img{
    max-width: 1.3em;
  }
}
#LocactionSwitcherModal{
  background: $grigio-chiaro;
    .modal-dialog{
        max-width: 1110px;
        .modal-content{
            background: none;
            border: none;
            border-radius: 0;
            .modal-header{
              border-bottom: 0;
              button{
                border: 0;
              }
            }
            .modal-body{
            // logo motultech modale
              .logo-motul{
                margin-bottom: 40px;
                img{
                  max-width: 300px;
                  width: 100%;
                  height: auto;
                }
              }
            // ---- logo motultech modale

            // global website
            .global-lang-wrapper{
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin-bottom: $spacing;
              // @include media-breakpoint-up(md){
              //   flex-direction: row;
              // }
              h5 {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: calc($spacing / 3);
                @include media-breakpoint-up(md){
                  margin-bottom: 0;
                }
              }
              .wrapper-lang-links{
                // background: $bianco;
                // padding: calc($spacing / 3);
                // border-radius: $border-radius;
                // display: inline-block;
                // @include media-breakpoint-up(md){
                //   margin-left: calc($spacing / 3);
                // }
                a{
                  padding: 5px calc($spacing / 3);
                  border-right: 1px solid $text-color;
                  display: inline-block;
                  color: $rosso;
                  font-size: 0.8rem;
                  &:last-child{
                    border-right: 0;
                  }
                }
              }
            }
            // ---- global website

            // pills
            #pills-tab{
              background: $bianco;
              padding: calc($spacing / 3);
              a.nav-link{
                color: $text-color;
                font-weight: bold;
                border: 3px solid transparent;
                &.active{
                  border: 3px solid $rosso;
                  color: $rosso;
                  background: none;
                  border-radius: 0;
                }
              }
            }
            #pills-tab-content{
              .tab-pane.show{
                background: $bianco;
                padding: $spacing;
              }
              h5{
                font-size: 0.9rem;
                margin-bottom: 0;
                font-weight: bold;
                a{
                  color: $text-color;
                }
              }
            }
            // ---- pills

              .flagwrapper {
                float: left;
                margin: 0 8px 0 0;
                overflow: hidden;
                border: 1px solid #777;
                width: 20px;
                height: 13px;
                position: relative;
                top: 1px;
                img {
                  width: 20px;
                  height: auto;
                  display: block;
                  position: relative;
                  top: -5px;
                  left: -1px;
                }
              }
              .translation-links {
                margin: 0 0 15px 28px;
                a{
                  font-size: 12px;
                  color: $translation-links;
                }
              }
            }
        }
    }
}
