.view-backoffice-profilo {
  .views-field {
    margin: 0 0 1.5rem 0;
    .views-label {
      display: block;
      font-size: smaller;
    }
    .field-content {
      font-weight: bold;
      display: block;
      margin: 0.2rem 0 0 0.5rem;
    }
  }
}
